{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "globals": {
    "ReactDOM": true
  },
  "plugins": ["react", "prettier", "react-hooks"],
  "rules": {
    "no-console": "warn",
    "react/prop-types": 0,
    "linebreak-style": ["error", "unix"],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  },
  "ignorePatterns": ["dist", "webpack.config.js", "webpack.config.local.js"]
}
