head
  meta(name="referrer" content="no-referrer")
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  title Setup failure
  style
    include ./style.css
  body
    div(class="container")      
        h1 Setup failed
        p Something went wrong, please close this window and try again