body {
  font-family: "Overpass", sans-serif;
  color: #0f1621;
  background-color: rgba(34, 178, 234, 0.05);
}

.container {
  max-width: 500px;
  margin: 60px auto;
  text-align: center;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: -0.3px;
  color: #0f1c31;
  margin-bottom: 32px;
}
p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #5a6872;
}
